.accordion {
  color: #444;
  cursor: pointer;
  padding: 31px;
  margin-top: 5px;
  width: 1000px;
  border: dashed white 5px;
  background-color: #ffab86;
  font-size: 15px;
  position: relative;
  top: -120px;
  font-size: 40px;
  font-family: impact, '微軟正黑體';
  font-size: 28px;
  font-weight: bolder;
  color: black;
}

.active,
.accordion:hover {
  background-color: #ffab86;
}

.panel {
  padding: 0 18px;
  background-color: #ffc8c8;
  max-height: 0;
  width: 1000px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: relative;
  top: -120px;
  height: auto;
}

.accordion_bar {
  position: relative;
  left: 50%;
  margin: -130px 0 0 -25px;
}