.accordion {
  color: #444;
  cursor: pointer;
  padding: 24.5px;
  width: 1000px;
  border: dashed white 5px;
  background-color: #ffab86;
  margin-top: 5px;
  font-size: 15px;
  font-size: 40px;
  font-family: impact, '微軟正黑體';
  font-size: 28px;
  font-weight: bolder;
  color: black;
}

.active,
.accordion:hover {
  background-color: #ffab86;
}

.panel {
  padding: 0px;
  background-color: #ffc8c8;
  max-height: 0;
  width: 1000px;
  height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.accordion_bar {
  position: relative;
  width: 1000px;
  top: -850px;
  left: 5%;
  margin-bottom: -430px;
}