.container2 {
  position: relative;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay2 {
  opacity: 1;
}

.container2 img {
  padding: 5px;
  width: 495px;
  height: 300px;
}