body {
  background-image: linear-gradient(to top, #bcccc1 0%, #ff7283 120%);
  height: auto;
  width: auto;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: #6cd4d7;
  border-radius: 0px;
}

.title {
  font-family: Impact;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.block1 {
  height: 550px;
  width: 1000px;
  position: relative;
  top: 100px;
  left: 5%;
  padding: 20px;
  border-style: dashed;
  border-color: lightyellow;
  border-width: 5px;
  background-color: #ffab86;
}

.block2 {
  height: 1000px;
  width: 600px;
  position: relative;
  top: -450px;
  left: 1200px;
  padding: 20px;
  border-style: dashed;
  border-color: lightyellow;
  border-width: 5px;
  background-color: #ffab86;
}

.block2 p {
  font-family: impact;
  font-size: 20px;
  position: relative;
  top: 47px;
  left: 10px;
}

.pro {
  position: relative;
  top: 85px;
}

.circle {
  border-radius: 50%;
  border-style: dashed;
  border-color: lightpink;
  border-width: 9px;
  width: auto;
  height: 350px;
  position: relative;
  left: 56px;
}

.img {
  padding: 15px;
  padding-top: 40px;
}

h1 {
  font-family: Impact;
  font-size: 35px;
  margin-bottom: -20px;
  text-decoration: underline;

}

.line:hover {
  transform: translateY(-30px);
  transition: 1s ease-in-out;
}

.line {
  transition: 1s ease-in-out;
  width: 320px;
}

.icon img {
  border-radius: 0px;
  margin-left: 35px;
  position: relative;
  left: 82px;
}

.info {
  position: relative;
  top: -410px;
  left: 500px;
  width: 500px;
  font-family: impact, '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
}

.infomation {
  margin: 10px;
  padding: 10px;
}

.infomation img {
  position: relative;
  top: 5px;
  left: -15px;
  border-radius: 0%;
}

.infomation h7 {
  color: #5c5c5c;
  font-size: 15px;
}

body {
  cursor: url(../Image/cur.png), auto;
}

footer {
  background-color: #ff7283;
  width: auto;
  border-radius: 0px;
  color: white;
  margin: -10px;
  padding: 20px;
}

footer div {
  text-align: center;
  padding: 0;
  margin: 0;
}